<!DOCTYPE html>
<html>
<head>
  <title>BundlerTest</title>
  <% web_resource_bundler_process do %>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= javascript_include_tag :defaults %>
    <!--[if IE]>
      <%= stylesheet_link_tag 'ie_only' %>
    <![endif]-->
  <% end %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= yield %>
<div class="image-div"></div>
<div class="second_div"></div>
</body>
</html>
